.clearfix::after {
    content: "";
    clear: both;
    display:table;
}

body {
   font-family: 'Roboto Condensed', sans-serif;
   background-color: rgb(32,38,53);
   margin: 0;
}

.main-menu-container {
    padding-top: 50px;
}

.main.menu {
    padding: 0;
    border-bottom: 3px solid #68d2c3;
    text-align: center;
    /* az inline block reagál a középre igazításra */
}

.main-menu-item {
    display: inline-block;
    position: relative;
    
}
.main-menu-item a,
.main-menu-item span {
    display: block;
    text-decoration: none;
    color: #54beff;
        padding: 20px 0;
    /* alul-fölöl 20px, jobbrra-balra 0 */
   }

.main-menu-item > a,
.main-menu-item span {
    width: 120px;
}

/* külön csak a főmenüpontokra állítunk szálességet */

/* > jelentése közvetlen gyerek */
.main-menu-item:hover > a,
.main-menu-item:hover span {
    color: white;
    background-color: rgb(34, 116, 175);
    cursor: pointer;
}

.sub-menu {
    list-style: none;
    background-color: rgb(34,116,175);
    padding: 0;
    position: absolute;
    top: 62px;
    width: 200px;
    display: none;
}

.main-menu-item:hover > .sub-menu {
    display: block;
}

.sub-menu-item:hover > a {
    background-color: rgb(66,130,177);
    color: white;
}

.main-content {
    width: 800px;
    color: white;
        /* az auto itt középre igazítást jelent */
    margin: 40px auto 0px auto;
}

header {
    width: 400px;
}

h1 {
    font-size: 30;
    padding: 0;
    margin-bottom: 10px;
}

header p {
    font-size: 22px;
    margin: 0 0 30px 0;
}

.company-image {
    float: right;
}

main {
    width: 500px;
    line-height: 1.6;
}

footer {
    color: white;
    text-align: center;
    margin-top: 20px;
}